# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## showing where the dinos are on the map

showing where you can find all the dinos and on which islands to go

### Test Data Used

this just shows where to find the dinos on all the islands on the map bellow

### Test Result

![island-for-game.png](screenshots/island-for-game.png)
you can see I have marked the islands with the dinos on it

---

## collecting the dinos

showing you can collect the dinos

### Test Data Used

when i click on a island

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.
Comment on test result.

---

